@import "tailwindcss";

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.nav-link {
  @apply px-3 py-2 rounded-lg transition
         text-zinc-400 hover:text-zinc-100
         hover:bg-zinc-800/60;
}

.nav-link.router-link-active {
  @apply bg-zinc-800/80 text-white;
}